<%=  link_to('Back to List', users_path) %><br>

<div>
  <h2>New User</h2>

  <%= form_for(@user) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>

    <div>
      <%= f.submit('Create User') %>
    </div>
  <% end %>

</div>