<table>
  <tr>
    <th>Code</th>
    <td><%= f.text_field(:code) %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= f.text_field(:description) %></td>
  </tr>
  <tr>
    <th>Start date</th>
    <td><%= f.date_field(:start_date) %></td>
  </tr>
  <tr>
    <th>End date</th>
    <td><%= f.date_field(:end_date) %></td>
  </tr>
</table>