<div>
  <h2>Delete Timesheet</h2>

  <%= form_for(@timesheet, method: 'delete') do |f| %>
    <p>Are you sure you want to permanently delete this timesheet?</p>
    <p><%= @timesheet.id %></p>

    <div>
      <%= f.submit('Delete Timesheet') %>
    </div>
  <% end %>

</div>