<div>
  <h2>Edit Timesheet</h2>

  <%= form_for(@timesheet) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>

    <div>
      <%= f.submit('Edit Timesheet') %>
    </div>
  <% end %>

</div>