<div>
  <h2>New Timesheet</h2>

  <%= form_for(@timesheet) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>

    <div>
      <%= f.submit('Create Timesheet') %>
    </div>
  <% end %>

</div>