header {
    height: 1em;
    padding: 1em;
    margin-bottom: 1em;
}

header span {
    float: right;
}

header span .button_to {
    display: inline;
}

div#content {
    background: #EBF1F4;
    min-height: 400px;
    margin: 1em;
}

div#flash-notice {
    border: 1px solid #286847;
    color: #286847;
    padding: 10px;
}

footer {
    height: 1em;
    padding: 1em;
    margin-top: 1em;
}
